Repository DiguyaDeveloper/ceccoff-setup-typescript-static-code-quality-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .prettierignore --write

chore(documentation): :construction: Update readme.md file
  readme.md
Due: prettier --ignore-path .prettierignore --write

chore: :heavy_plus_sign: add typescript dependencies
  package.json
Due: prettier --ignore-path .prettierignore --write

chore(typescript): :wrench: add typescript configuration
  tsconfig.json
Due: prettier --ignore-path .prettierignore --write

feat(test): :sparkles: create file to test dependencies of code validation
  src/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .prettierignore --write

chore(githooks): :wrench: add configuration lint-staged in commit hook
  .husky/pre-commit
Due: none

feat(test): :sparkles: Fixed code-style errors to publish code
  src/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .prettierignore --write

test: :snake: add tests to example function
  src/tests/index.spec.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .prettierignore --write

chore(githooks): :wrench: update pre-commit to run tests
  .husky/pre-commit
Due: none

chore(tests): :wrench: Update script tests
  package.json
Due: prettier --ignore-path .prettierignore --write

docs: add template pull request and contributors guideline
  .github/pull_request_template.md
  contribution-guidelines.md
Due: prettier --ignore-path .prettierignore --write

docs: update link to contributors guideline
  .github/pull_request_template.md
Due: prettier --ignore-path .prettierignore --write

docs: update framework name
  contribution-guidelines.md
Due: prettier --ignore-path .prettierignore --write

Path conditions:
  eslint --ignore-path .eslintignore --fix: any of: **/*.{js,jsx,ts,tsx}
  prettier --ignore-path .prettierignore --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,scss,md,html,json})
